<div class="divBody">
    <div class="divMaster">

        <div class="d-flex">
            <div class="mr-auto p-2">
                <div >
                    <img src="../assets/img/logo.png" style="width: 50vh;" class="centerBannerImg">
                </div>
                <div style="margin-top: 5px;">
                    <mat-progress-bar *ngIf="loading"  mode="indeterminate"></mat-progress-bar>
                    <mat-accordion>
                    
                        
                        <mat-expansion-panel *ngFor="let people of peoples" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{people.name}}
                            </mat-panel-title>
                            <mat-panel-description>
                            {{people.gender}}
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="detailsPerson">
                            <div><mat-icon>calendar_today</mat-icon>Birth Year:  {{people.birthYear}}</div>
                            <div><mat-icon>remove_red_eye</mat-icon> Eye Color: {{people.eyeColor}}</div>
                            <div><mat-icon>receipt</mat-icon> created {{people.created | date}}</div>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                </div>
            </div>
            <div class="p-2"><img src="../assets/img/v1_banner_home.jpg" style="width: 90vh;"></div>
            
          </div>


    </div>
  </div>

  